<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39452741083-3k64ksondhrmdrbaob46qi0gle7earg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39452741083-3k64ksondhrmdrbaob46qi0gle7earg9</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-VQ6YGAe7aaOlMuKj44sML96nb0OoI4</string>
	<key>GCM_SENDER_ID</key>
	<string>39452741083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.modanisa.Movie-Finder</string>
	<key>PROJECT_ID</key>
	<string>movie-finder-6482f</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-finder-6482f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39452741083:ios:5d2c2d2139b21c08</string>
	<key>DATABASE_URL</key>
	<string>https://movie-finder-6482f.firebaseio.com</string>
</dict>
</plist>